.root {
    height: 100%;
    position: relative;
}

.filters {
    background: white;
    padding: 1.5rem 1.5rem;
    display: flex;
    gap: 1rem;
}

.select {
    min-width: 10rem;
}

.search {
    flex: 1;
}

.dataTable {
 height: calc(100% - 180px) !important;
}
