/* color */
$color-primary: #D0112B;
$color-primary-dark: #B7122B;
$color-primary-light: #E4132F;
$color-black: #040505;
$color-dark-theme: #18191A;
$color-gray: #9A9B9C;
$color-gray-dark: #747678;
$color-gray-darker: #575353;
$color-gray-darkest: #282828;
$color-gray-light: #D6D6D6;
$color-gray-lighter: #E7E7E7;
$color-gray-lightest: #F2F2F2;
$color-white: #FFFFFF;
$color-success-accent: #CEDC00;
$color-success: #46A221;
$color-success-dark: #327119;
$color-success-darkest: #255910;
$color-success-light: #DAEDD7;
$color-alert: #DF7034;
$color-alert-hover: #d9682e;
$color-alert-dark: #B33E00;
$color-alert-light: #FDECD2;
$color-error: #D0112B;
$color-error-light: #FDD2D2;
$color-primary-lighter: #e85a6d;
$color-primary-lighter-hover: #d0505e;

/* font size */
$fontSize-6xl: 4rem;
$fontSize-5xl: 3rem;
$fontSize-4xl: 2.5rem;
$fontSize-3xl: 2rem;
$fontSize-2xl: 1.5rem;
$fontSize-xl: 1.25rem;
$fontSize-lg: 1.125rem;
$fontSize-base: 1rem;
$fontSize-sm: 0.875rem;
$fontSize-xs: 0.75rem;

/* font weight */
$fontWeight-regular: 400;
$fontWeight-bold: 700;
$fontWeight-heavy: 900;

/* line-height */
$lineHeight-none: 1;
$lineHeight-tight: 1.25;
$lineHeight-snug: 1.35;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
$lineHeight-loose: 2;

/* line-spacing */
$lineSpacing-tight: -0.025em;
$lineSpacing-normal: 0;
$lineSpacing-wide: 0.025em;

/* opacity */
$opacity-100: 1;
$opacity-75: 0.75;
$opacity-50: 0.5;
$opacity-25: 0.25;
$opacity-0: 0;

/* transition */
$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
