@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html { font-family: 'Inter', sans-serif; }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #5048E5;
  --primary-hover-color: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #5048E5;
  --primary-outline-hover-color: rgba(80, 72, 229, 0.08);
  --primary-text-hover-color: rgba(80, 72, 229, 0.08);
  --secondary-color: #10B981;
  --secondary-hover-color: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #10B981;
  --secondary-outline-hover-color: rgba(16, 185, 129, 0.08);
  --secondary-text-hover-color: rgba(80, 72, 229, 0.08);
  --error-color: #D14343;
  --disabled-color: #3741517A;
  --disabled-background: rgba(55, 65, 81, 0.12);
  --button-border-radius: .5rem;
  --button-small-padding: 6px 16px;
  --button-medium-padding: 8px 20px;
  --button-large-padding: 11px 24px;

  --sidebar-width: 240px;
}
