.root {

}

.badge {
    font-weight: 600;
}

.dot {
    font-weight: 600;
}

.primary {
   background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.error {
    background: var(--error-color);
}
