.root {
    display: flex;
    align-items: center;
}

.root .badge {
    font-weight: 600;
    right: .5rem;
}

.root .dot {
    font-weight: 600;
}

.root .primary {
   background: var(--primary-color);
}

.root .secondary {
    background: var(--secondary-color);
}

.root .error {
    background: var(--error-color);
}
